@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	a {
		color: #4154f1;
		text-decoration: none;
	}
	body {
		color: #444444;
		font-family: 'Open Sans', sans-serif;
		background-color: #f6f9ff;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Nunito', sans-serif;
	}
}
